* {
    box-sizing: border-box;
}

body {
    font-family: "Neutrif", Roboto, system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 1440px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h3 {
    margin-top: 0;
    font-weight: 500;
    font-family: Neurif, Roboto, system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

a {
    text-decoration: none;
    background-color: transparent;
}

li {
    list-style: none;
    padding-right: 2em;
}

 
/*nav bar style*/

#nav {
    top: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    padding-top: 25px;
    position: fixed;
    width: 1440px;
    max-width: 100vw;
    z-index: 999;
    background-image: linear-gradient(302deg, #232fb8, #4554ff);
}

 .nav-container {
    max-width: calc(100% - 10px);
    width: 1440px;
    display: flex;
    margin: 0 auto;
}

.nav-items-left, .nav-items-right {
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    align-items: center;
}

.nav-items a {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    align-items: center;
}

#talk {
    color: #232fb8;
    display: block;
    padding: 10px 20px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
}

#talk:first-child::after {
    content: "😄";
}

#talk-item {
    padding: 10px;
}

a#logo{
    padding: 10px;
    line-height: 1;
}

#logo > img {
    background-color: transparent;
}

/*mobile styles*/

.mobile-nav .menu-bars{
    display: none;
}

.mobile-nav.responsive {
    background-image: linear-gradient(302deg, #232fb8, #4554ff);
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-top: 18vw;
}

/*home section*/

.wrapper {
    position: relative;
    width: 1440px;
    max-width: 100vw;
    background-image: linear-gradient(302deg, #232fb8, #4554ff);
    left: 0;
    top: -4rem;
    right: 0;
}


.container {
    height: 100%;
    position: relative;
    width: 1440px;
    max-width: 100vw;
    padding: 0 5em;
    
}

.home-wrap {
    display: flex;
    flex-flow: row wrap;
}

.home-text {
    margin-top: 10%;
    position: relative;
    z-index: 3;
    width: 500px;
    max-width: 100%;
    margin-left: 10%;
}

.heading1, .heading2{
    color: #fff;
}

h1.heading1 {
    font-size: 1.875rem ;
    letter-spacing: -1px;
    font-weight: 500;
    opacity: 0.5; 
    color: #FFF; 
    padding-bottom: 10px;
}

h3.heading2 {
    font-size: 40px;
    line-height: 1.27;
    letter-spacing: -1px;
}

h1 span, h3 span {
    display: flex;
    flex-flow: row wrap;
}

#talk.home-talk {
    width: 17vw;
    font-size: 2vw;
}

.home-img {
    position: absolute;
}

.home-img > img {
    height: 50vw;
    width: 50vw;
    margin: 30px auto;
    margin-left: -17%;
}

.home-img-bg {
    width: 960px;
    height: 960px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    bottom: 20px;
}

.home-logos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -40px;
}

.container .home-logos h4 {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 0;
}

.home-logos .logos {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.home-logos .trusted, .home-logos .awards {
    margin-bottom: 20px;
    text-align: center;
}

.home-logos .logos li {
    display: inline-block;
}

.home-logos .logos li img {
    transform: scale(0.7);
}

/* media screens */

@media screen and (max-width: 350px) {
    #nav {
        padding-top: 0;
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding: 10px;
    }

    .wrapper {
        padding-top: 4rem;
    }

    .wrapper.mobile {
        top: 0;
    }

    #nav {
        padding-top: 1vw;
    }
    /*mobile nav-bar*/

    .menu-bars{
        display: block;
    }

    .nav-items-left {
        display: none;
    }

    #talk.home-talk {
        width: 40vw;
        font-size: 5vw;
    }


    #talk {
        padding: 5px 8px;
        width: 24vw;
        border-radius: 30px;
        font-size: 2vw;
    }

    #talk-item {
        padding: 2vw;
    }
    
    a#logo{
        padding: 10px;
        line-height: 1;
    }

    .menu-text {
        padding: 7px;
    }

    /*mobile home*/

    h3.heading2 {
        font-size: 1.5rem;
    }

    .home-img-bg {
        width: 400px;
        height: 400px;
    }

    .home-img > img {
        height: 300px;
        width: 300px;
    }

    .home-img {
        position: relative;
    }

    .home-logos {
        justify-content: center;
    }

    .home-logos .logos li {
        margin: 0 auto;
        padding: 0;
    }
  }



  @media screen and (min-width: 750px) {
      .wrapper {
          height: 700px;
      }

      .home-logos {
          margin: 0 15%;
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: -15px;
      }

      .home-logos .trusted, .home-logos .awards {
        display: flex;
       }

    .home-logos .trusted h4 , .home-logos .awards h4 {
       margin-right: 10px;
       font-size: 10px;
    }

    .home-logos .awards {
        margin-left: 50px;
    }
  }