.form {
  width: 700px;
  max-width: calc(100% - 20px);
  padding: 20px 10px;
  margin: 50px auto;
  background-color: #ecebeb;
  border: 1px solid rgba(0 0 0 0.2);
}

.name {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#firstName, #lastName {
  flex-grow: 1;
}

.input-field {
    margin: 0.5em 0.7em;
    font-weight: bold;
}

.field {
    display: grid;
}

input {
    display: grid;
    width: calc(100% - 20px);
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0 0 0 0.5)
}

input:valid {
  background-color: rgb(157, 228, 140);
  border-color: rgb(57, 112, 81);
}

input:required {
  border-color: rgba(212, 245, 208, 0.753);
}

button {
    height: 40px;
    width: 70px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: .7em;
}

.terms {
    margin: 10px 10px;
    display: flex;
}

#checkbox {
  width: auto;
  margin-top: 1em;
}

@media screen and (max-width: 700px) {
  .form {
    width: 300px;
    margin: 10px auto;
  }
}