div.keys{
    display: grid;
    width: 200px;
    height: 300px;
    grid-template: 20% 20% 20% 20% 20% / 25% 25% 25% 25%;
    margin: 10px auto;

}

#view{
    width: 200px;
    height: 70px;
    color: burlywood;
    border: 3px;
    margin: 10px auto;
    border-style: solid;
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    background-color: #000;
    
    
}

body{
    align-items: center;
    background-image: url(".\\images\\math 3.jpg");
    width: 220px;
    height: 400px;
    border-color: red;
    margin: 100px auto;

}

button{
    border-color: orangered;
    color: #340;
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: 15px;
}

#zero{
    grid-column: 1 / span 2;
}

#decimal{
    font-size: 30px;
}
