div.buttons{
    display: grid;
    align-items: center;
    margin: 10px auto;

}

div.message{
    display: inline-block;
    margin: 10px auto;
    align-items: center;
    background-color: #5b243494;
    width: 100%;
    height: 200px;
}

.message p{
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.message p,h1,h4{
    margin-left: 30px;
    color: #343434;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


button{
    width: 300px;
    height: 90px;
    border-radius: 10px;
    margin: 10px auto;
    border-color: #5B2434;
    border-width: 3px;
}

body{
    align-items: center;
    background-image: url(".\\images\\background11.jpg");
}